configuration {
  modes: [ combi, window, drun, run ];
  combi-modes: [ window, drun, run ];
}

entry {
    placeholder: "Escreva aqui";
    cursor: pointer;
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

element-icon {
    size: 1.3em;
}

entry, element-text {
  text-color: green;
}

entry {
  cursor-color: green;
  cursor-width: 8px;
}
@theme "/themes/tortoise-midnight.rasi"
